*~
.DS_Store
*.pyc
*.egg
.idea/
*.iml
.project
.pydevproject
.settings
/*.egg-info/
/dist/
/build/
cover/
.coverage*
/htmlcov/
.cache/
.tox
.python-version
.pytest_cache
.mypy_cache
.tmp
.venv
docs/_build
