*~
.DS_Store
*.pyc
*.egg
.idea/
*.iml
.project
.pydevproject
.settings
.pdm-build
/*.egg-info/
/dist/
/build/
cover/
.coverage*
/htmlcov/
.cache/
.tox
.python-version
.pdm-python
.pytest_cache
.mypy_cache
.tmp
