dist: xenial
sudo: required
language: python
cache:
  - pip
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38
install:
  - pip install poetry tox awscli
before_script:
  - ./scripts/test_data/upload_test_data.sh
script:
  - tox
