[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
e1839a8 = {path = ".",extras = ["sqlalchemy", "pandas"],editable = true}

[dev-packages]
awscli = "*"
tox = "*"
twine = "*"
wheel = "*"
pytest = ">=3.5"
pytest-cov = "*"
pytest-flake8 = ">=1.0.1"
pytest-black = "*"
pytest-isort = "*"
pytest-xdist = "*"
