[tool.poetry]
name = "PyAthena"
version = "2.5.1"  # https://github.com/laughingman7743/PyAthena/blob/master/pyathena/__init__.py#L7
description = "Python DB API 2.0 (PEP 249) client for Amazon Athena"
license = "MIT"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Database :: Front-Ends",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10"
]
homepage = "https://github.com/laughingman7743/PyAthena/"
authors = [
    "laughingman7743 <laughingman7743@gmail.com>"
]
readme = "README.rst"
packages = [
    { include = "pyathena" },
]
include = [
    { path = "pyathena/py.typed" },
]

[tool.poetry.dependencies]
# https://github.com/pandas-dev/pandas/pull/35214
python = "^3.7.1"
boto3 = ">=1.4.4"
botocore = ">=1.5.52"
pandas = {version = ">=1.0.0", optional = true}
pyarrow = {version = ">=1.0.0", optional = true}
sqlalchemy = {version = "<2.0.0,>=1.0.0", optional = true}
tenacity = ">=4.1.0"

[tool.poetry.dev-dependencies]
awscli = "^1.22.37"
tox = "*"
wheel = "*"
twine = "*"
pandas = ">=1.0.0"
pyarrow = ">=1.0.0"
sqlalchemy = ">=1.0.0, <2.0.0"
black = "^21.12b0"
mypy = ">=0.900"
flake8 = "<4"  # https://github.com/tholo/pytest-flake8/issues/81
pytest = ">=3.5"
pytest-cov = "*"
pytest-flake8 = ">=1.0.1"
pytest-black = "*"
pytest-isort = "*"
pytest-xdist = "*"
pytest-mypy = "*"

[tool.poetry.extras]
pandas = ["pandas", "pyarrow"]
sqlalchemy = ["sqlalchemy"]

[tool.poetry.plugins."sqlalchemy.dialects"]
"awsathena" = "pyathena.sqlalchemy_athena:AthenaDialect"
"awsathena.rest" = "pyathena.sqlalchemy_athena:AthenaRestDialect"
"awsathena.pandas" = "pyathena.sqlalchemy_athena:AthenaPandasDialect"

[tool.pytest.ini_options]
flake8-max-line-length = 100
norecursedirs = "benchmark"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
python_version = 3.7
follow_imports = "silent"
disallow_any_generics = true
strict_optional = true
check_untyped_defs = true
allow_redefinition = true
ignore_missing_imports = true
warn_redundant_casts = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true

[[tool.mypy.overrides]]
module = ["benchmark.*", "tests.*"]
ignore_errors = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
