[tool.poetry]
name = "PyAthena"
version = "2.23.0"  # https://github.com/laughingman7743/PyAthena/blob/master/pyathena/__init__.py#L10
description = "Python DB API 2.0 (PEP 249) client for Amazon Athena"
license = "MIT"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Database :: Front-Ends",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]
homepage = "https://github.com/laughingman7743/PyAthena/"
authors = [
    "laughingman7743 <laughingman7743@gmail.com>"
]
readme = "README.rst"
packages = [
    { include = "pyathena" },
]
include = [
    { path = "pyathena/py.typed" },
]

[tool.poetry.dependencies]
# https://github.com/pandas-dev/pandas/pull/35214
python = "^3.7.1"
boto3 = ">=1.26.4"
botocore = ">=1.29.4"
tenacity = ">=4.1.0"
fsspec = "*"
sqlalchemy = {version = "<2.0.0,>=1.0.0", optional = true}
pandas = {version = ">=1.3.0", optional = true}
pyarrow = {version = ">=7.0.0", optional = true}
fastparquet = {version = ">=0.4.0", optional = true}

[tool.poetry.dev-dependencies]
tox = "*"
tox-gh-actions = "*"
wheel = "*"
twine = "*"
sqlalchemy = ">=1.0.0, <2.0.0"
pandas = [
    # https://pandas.pydata.org/docs/whatsnew/v1.4.0.html
    {version="<1.4,>=1.3.0", python=">=3.7.1,<3.8"},
    {version=">=1.3.0", python=">=3.8"},
]
numpy = [
    # https://numpy.org/doc/stable/release/1.22.0-notes.html
    {version="<1.22.0", python=">=3.7.1,<3.8"},
    # https://numpy.org/doc/stable/release/1.24.0-notes.html
    {version=">=1.24.0", python=">=3.11"},
]
pyarrow = ">=7.0.0"
fastparquet = ">=0.4.0"
Jinja2 = ">=3.1.0"
isort = ">=5.10.1"
black = ">=22.3.0"
mypy = ">=0.900"
flake8 = ">=5.0.0"
pytest = ">=3.5"
pytest-cov = "*"
pytest-xdist = "*"

[tool.poetry.extras]
pandas = ["pandas"]
sqlalchemy = ["sqlalchemy"]
arrow = ["pyarrow"]
fastparquet = ["fastparquet"]

[tool.poetry.plugins."sqlalchemy.dialects"]
"awsathena" = "pyathena.sqlalchemy_athena:AthenaDialect"
"awsathena.rest" = "pyathena.sqlalchemy_athena:AthenaRestDialect"
"awsathena.pandas" = "pyathena.sqlalchemy_athena:AthenaPandasDialect"
"awsathena.arrow" = "pyathena.sqlalchemy_athena:AthenaArrowDialect"

[tool.pytest.ini_options]
norecursedirs = ["benchmarks", ".poetry", ".tox"]

[tool.black]
line-length = 100
target-version = ['py37']
exclude = '(\.poetry|\.tox)'

[tool.isort]
profile = "black"
multi_line_output = 3
skip_glob = [".poetry/*", ".tox/*"]

[tool.mypy]
python_version = 3.7
follow_imports = "silent"
disallow_any_generics = true
strict_optional = true
check_untyped_defs = true
allow_redefinition = true
ignore_missing_imports = true
warn_redundant_casts = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
exclude = ["benchmarks.*", "tests.*", ".poetry.*", ".tox.*"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
