name: Test

on:
  push:
  schedule:
    - cron:  '0 0 * * 0'

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      AWS_DEFAULT_REGION: us-west-2
      AWS_ATHENA_S3_STAGING_DIR: s3://laughingman7743-pyathena/github/
      AWS_ATHENA_WORKGROUP: pyathena
      AWS_ATHENA_SPARK_WORKGROUP: pyathena-spark

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      # TODO: In the case of Python 3.13 and 3.14, the following error occurs, so install Python using setup-python.
      #   ../meson.build:44:2: ERROR: Problem encountered: Cannot compile
      #   `Python.h`. Perhaps you need to install python-dev|python-devel
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
        if: matrix.python-version == '3.13' || matrix.python-version == '3.14'
      - run: |
          make tool

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::676287850544:role/github-actions-oidc-pyathena
          role-session-name: PyAthenaTestSession
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Test
        run: |
          make tox
